.tweetBox{
    padding-bottom: 10px;
    border-bottom: 8px solid var(--tydl-background);
    padding-right: 10px;
}

.tweetBox > form{
    display:flex;
    flex-direction: column;
}

.tweetBox__Input{
    padding:20px;
    display:flex;
}

.tweetBox__Input > input{
    flex: 1;
    margin-left: 20px;
    font-size : 20px;
    border: none;
}

.tweetBox__tweetButton{
    background-color: var(--tydl-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.tweetBox_InputImage{
    border:none;
    padding:10px;
    
}